 <div class="main-chat">   
     <div class="main-chat-top">
      <div class="main-chat-name">hogehuga</div>
      <div class="chat-end-btn"> <a href="#">チャットを終了する</a></div>     
     </div> 

     <div class="main-chat-center">
     <%= render partial: "message" , collection: @messages %>

    

     </div> 

     


<%= form_with model:[@room,@message], class:"main-chat-bottom", local: true do |f| %>
   <%# <div class="main-chat-bottom">  %>
    <div class="files">
    <%= f.text_field :content, placeholder: 'type a message', class: 'message' %>
     <%# <input placeholder="type a message" class="message"> %>
     <label class="form-image">
       <span class="image-file">画像</span>
       <%= f.file_field :image, class: "hidden" %>
       <%# <input type="file" class="hidden"> %>
      </label> 
    </div>
    <%= f.submit "送信", class: "send"  %>
     <%# <input type="submit" value="送信" class="send"> %>
     </div>
<% end %>

 </div>